.input {
    height: 50px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
}
.input>input{
    width: 100%;
    border: none;
    outline: none;
    color: red;
    font-size: 18px;
    &::placeholder{
        color: lightgray;
    }
}
.send{
    display: flex;
    align-items: center;
    gap: 10px;
}
label>img{
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    
}
button{
    border: none;
    padding: 10px 15px;
    color: white;
}